$baseColor:#91E058;
$darkBaseColor: #63993d;

.screenBorders{
    padding: 60px 60px 0 60px;
    background-color: $baseColor;
    border-radius: 10%;
    border-bottom: 24px solid $darkBaseColor;
    border-left: 24px solid $darkBaseColor;
    box-shadow: 16px 16px 16px #00000055;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    height: 90%;
    width: 40%;

    .screen {
        background-color: #000000aa;
        border-right: 16px solid $darkBaseColor;
        border-top: 16px solid $darkBaseColor;
        border-radius: 6%;

        height: 100%;
        width: 100%;
    }

    .btnContainer{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 1300px) {
    .screenBorders{
        width: 60vw;
    }
}

@media screen and (max-width: 900px) {
    .screenBorders{
        width: 90vw;
    }
}


@media screen and (max-width: 600px) {
    .screenBorders{
        height: 100vh;
        width: 100vw;
        border-radius: 0;
        padding: 36px;

        border: 0;
    }
}
