.screenBorders{
    padding: 60px;
    border-radius: 16px;
    background-color: #91E058;
    box-shadow: 16px 16px 16px #00000055;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    height: 90%;
    width: 40%;

    .screen {
        background-color: #000000aa;
        border-radius: 8px;

        height: 100%;
        width: 100%;


    }

    .btnContainer{
        display: flex;
        justify-content: center;

        // .btn {
        //     margin-top: 40px;
        //     margin-right: 20px;
        //     margin-left: 20px;

        //     height: 120px;
        //     width: 120px;
        //     background-color: #23947D;
        //     border-radius: 50%;

        //     @media only screen and (max-width: 640px) {
        //         background-color: red;
        //     }
        // }
       
    }
}

@media screen and (max-width: 800px) {
    .screenBorders{
        height: 100vh;
        width: 100vw;
        border-radius: 0;
        
        .screen {
            background-color: red;
            
            .btnContainer{
                background-color: red;
            }
        }
    }
}
