$buttonColor: #E04C5B;
$secondaryButtonColor: #942B35;

.btnContainer {
    text-align: center;
    margin: 16px 0;
    
    .btn {
        background-color: $buttonColor;
        border: none;
        border-bottom: 0.5em solid $secondaryButtonColor;
        border-left: 0.5em solid $secondaryButtonColor;
        border-radius: 0.5em;
        cursor: pointer;
        color: #fff;
    
        font-size: 1rem;
        font-family: Courier, sans-serif;
    
        width: 120px;
        height: 120px; 
    
        display: flex;
        align-items: center;
        justify-content: center;
    
        margin: 0 8px;
        text-decoration: none;
    
        transition: .1s all ease-in-out;
        position: relative;
    
        border-bottom-left-radius: 0.75em;
        border-bottom-right-radius: 0.75em;
    
        &:hover {
            filter: brightness(1.25);
        }
    
        &:active {
            border-bottom-width: 0;
            border-left-width: 0;
        }
    }
}

@media screen and (max-width: 600px) {
    .btn {
        height: 80px;
        width: 80px;
    }   
}
