@keyframes move {
    0%{
        top: -5px;
        left: 5px;
    }

    35% {
        top: -10px;
        left: 0px;
    }

    50% {
        top: 0px;
        left: -5px;
        background-color: red !important;
    }

    75% {
        top: 5px;
        left: 0px;
    }

    90%{
        top: 0px;
        left: 10px;
    }

    100%{
        top: -5px;
        left: 5px;
    }
}

@keyframes littleRotate {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(10deg)
    }

    75%{
        transform: rotate(-10deg);
        background-color: red !important;

    }

    100%{
        transform: rotate(0deg);
    }
}