@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

.innerScreen {
    height: 100%;
    width: 100%;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    > * {
        filter: opacity(0.6);
    }

    h1{
        color: #5a8678;
        font-size: 4rem;
        font-family: 'Yusei Magic', sans-serif;

        text-shadow:  
        -6px 6px 0 #00000088;

    }

    .wizardComputer {
        padding: 20px;
        animation:  littleRotate 1s infinite linear forwards;
    }
}

